.App {
  display:flex;
  flex-direction:column;
  text-align: center;
}


.App-link {
  color: #00b5fd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
	color: #4c4e53;
  background:#b9adbe;
  border-radius:10px;
}

.filepond--label-action {
	color:#1a1c20;
  font-family: 'Poppins', sans-serif;
}

.filepond--panel-root {
	border-radius: 2rem;
	 background-color:#b9adbe;
	height: 1em;
}

.filepond--item-panel {
	background-color: #82DBD8;
}

.filepond--drip-blob {
	background-color: #82DBD8;
}


/**
 * Page Styles
 */
